.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.formCard {
  background-color: var(--white);
  border-radius: 0.5rem;
  max-width: 425px;
  padding: 1rem;
  width: 100%;
}

.successCard {
  max-width: 768px;
  width: 100%;
}

.emailInput {
  margin-top: 1rem;
}

.errorMessage {
  margin-top: 0.5rem;
}

.sendButton {
  margin-top: 1rem;
}

.sendButton:disabled {
  cursor: wait;
}

.sendButton span {
  margin-left: 0.5rem;
}

.heading {
  font-size: 2.25rem;
  text-align: center;
}

.subheading {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    padding: 1.5rem;
  }

  .formCard {
    padding: 1.5rem;
    max-width: 600px;
  }

  .emailInput {
    margin-top: 1.5rem;
  }

  .errorMessage {
    margin-top: 0.75rem;
  }
  
  .sendButton {
    margin-top: 1.5rem;
  }

  .subheading span {
    display: block;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 2rem;
  }

  .formCard {
    padding: 2rem;
  }

  .emailInput {
    margin-top: 2rem;
  }

  .errorMessage {
    margin-top: 1rem;
  }
  
  .sendButton {
    margin-top: 2rem;
  }
}
