.banner {
  -webkit-box-shadow: 0 0 1rem -0.5rem var(--black);
  align-items: center;
  background-color: var(--white);
  border-radius: 1.5rem;
  bottom: 1.5rem;
  box-shadow: 0 0 0.75rem -0.5rem var(--black);
  display: flex;
  flex-direction: row;
  font-size: 0.75rem;
  font-weight: 300;
  justify-content: center;
  left: 50%;
  line-height: 1;
  padding: 0.375rem;
  position: absolute;
  transform: translateX(-50%);
}

.banner .description {
  color: var(--secondary);
  margin-left: 0.75rem;
  white-space: nowrap;
}

.banner .button {
  background-color: var(--black);
  border-radius: 1rem;
  color: var(--white);
  font-size: 0.75rem;
  line-height: 1;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
