.suggestionList {
  background: var(--color-popover);
  border-radius: 0.5rem;
  color: var(--color-on-popover);
  max-width: 768px;
  padding: 0.5rem;
  width: 100%;
  z-index: 3;
}

.suggestionItem {
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  transition: background-color 150ms ease-in-out;
}

.suggestionItem:focus,
.suggestionItem:hover {
  background-color: var(--color-hover-popover);
  cursor: pointer;
}

.suggestionListInverse {
  background-color: var(--color-popover);
}

.suggestionItemInverse:focus,
.suggestionItemInverse:hover {
  background-color: var(--color-hover-popover);
}

.suggestionListEmpty,
.suggestionListLoading {
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  white-space: pre-wrap;
  width: 100%;
}

.suggestionListEmpty {
  align-items: center;
  flex-direction: row;
}

.suggestionListLoading {
  align-items: flex-start;
  flex-direction: column;
}
