.link {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.link:before {
  background-color: var(--primary);
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.5rem;
  margin-right: 0.5rem;
  opacity: 0;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transform: translateX(0.5rem);
  width: 0.5rem;
}

.link span {
  transform: translateX(-1rem);
  transition: transform 300ms ease-in-out;
}

.link:hover:before {
  opacity: 1;
  transform: translateX(0);
}

.link:hover span {
  transform: translateX(0);
}
