.container {
  height: 100%;
  padding: calc(var(--vmax, 1vmax) * 3);
  width: 100%;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}

.textMask {
  flex: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.textMask .textOverlay {
  color: var(--palette-black);
  z-index: 100;
}

.coverImageContainer {
  flex: 1;
  height: 100%;
  position: relative;
}

.coverImage {
  object-fit: cover;
  object-position: bottom;
  user-select: none;
}

.textOverlay {
  bottom: calc(var(--vmax, 1vmax) * 3);
  color: var(--palette-white);
  left: 0;
  position: absolute;
  text-align: center;
  width: calc(var(--vw, 1vw) * 50 - var(--vmax, 1vmax) * 6);
}

.saveTheDate {
  font-size: calc(var(--vmax, 1vmax) * 6);
}

.names {
  font-size: calc(var(--vmax, 1vmax) * 3);
  letter-spacing: calc(var(--vw, 1vw) * 0.5);
  margin-top: var(--vh, 1vh);
}

.date {
  font-size: calc(var(--vmax, 1vmax) * 2);
  letter-spacing: calc(var(--vw, 1vw) * 0.75);
  margin-top: var(--vh, 1vh);
}
