.container {
  height: 100%;
  padding: 3rem;
  width: 100%;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
  width: 100%;
}

.textMask {
  flex: 0;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: flex 150ms ease-in-out;
}

.textMask .textOverlay {
  color: var(--palette-black);
  z-index: 100;
}

.coverImageContainer {
  flex: 1;
  height: 100%;
  position: relative;
}

.coverImage {
  object-fit: cover;
  object-position: bottom;
  user-select: none;
}

.textOverlay {
  bottom: 3rem;
  color: var(--palette-white);
  left: 0;
  position: absolute;
  text-align: center;
  transition:
    bottom 150ms linear,
    transform 150ms linear;
  width: calc(min(calc(var(--vw, 1vw) * 50), 840px) - 6rem);
}

.saveTheDate {
  font-size: min(calc(var(--vmax, 1vmax) * 6), 100.8px);
}

.names {
  font-size: min(calc(var(--vmax, 1vmax) * 3), 50.4px);
  letter-spacing: min(calc(var(--vw, 1vw) * 0.5), 8.4px);
  margin-top: calc(var(--vh, 1vh) * 3);
}

.date {
  font-size: min(calc(var(--vmax, 1vmax) * 2), 33.6px);
  letter-spacing: min(calc(var(--vw, 1vw) * 0.75), 12.6px);
  margin-top: var(--vh, 1vh);
}

.calendarRow {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: calc(var(--vh, 1vh) * 2);
  visibility: hidden;
}

.calendarButton {
  align-items: center;
  background-color: var(--palette-persian-orange);
  border: 0;
  border-radius: 100rem;
  color: var(--color-on-primary);
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 1rem;
  transition: background-color 300ms ease-in-out;
}

.calendarButton:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

.calendarButton:disabled {
  background-color: var(--palette-persian-orange);
  cursor: not-allowed;
}

.calendarButton:not(:first-child) {
  margin-left: 1rem;
}
