.skeleton {
  animation: placeholder 2s infinite ease;
  border-radius: 0.5rem;
}

.skeletonInverse {
  animation: placeholderInverse 2s infinite ease;
}

@keyframes placeholder {
  from {
    background-color: var(--color-surface);
  }
  50% {
    background-color: var(--color-hover-surface);
  }
  to {
    background-color: var(--color-surface);
  }
}

@keyframes placeholderInverse {
  from {
    background-color: var(--color-inverse-surface);
  }
  50% {
    background-color: var(--color-inverse-hover-surface);
  }
  to {
    background-color: var(--color-inverse-surface);
  }
}
