@keyframes scrollingText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.ticker {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  overflow: hidden;
}

.details {
  animation: scrollingText infinite linear;
  font-size: 2rem;
  font-weight: 300;
  white-space: nowrap;
}

.divider {
  padding: 0 1rem;
}

/* @media (min-width: 425px) {
  .details {
    font-size: 2rem;
  }
} */

@media (min-width: 768px) {
  .details {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .details {
    font-size: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .details {
    font-size: 3.5rem;
  }
}
