.page {
  padding: var(--page-side-spacing);
  padding-top: 0;
}

.card {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.25rem 0.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 672px;
  overflow: hidden;
  padding: var(--page-side-spacing);
  position: relative;
  width: 100%;
}

.cardWithFooter {
  padding-bottom: 8rem;
}

.card:before {
  background-color: var(--palette-white);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.background1,
.background2,
.background3 {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  position: absolute;
  user-select: none;
  z-index: -1;
}

.background1 {
  left: -15%;
  opacity: 44%;
  top: -8%;
  transform: rotate(10deg);
  width: 100vw;
}

.background2 {
  bottom: -9%;
  opacity: 38%;
  right: -23%;
  transform: rotate(-60deg);
  width: 100vw;
}

.background3 {
  bottom: -8%;
  left: -10%;
  transform: rotate(27deg);
  width: 60vw;
}

.pretitle {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 2.25rem;
  justify-content: center;
}

.camera {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: 28px;
  user-select: none;
  width: 36px;
  z-index: -1;
}

.camera:first-child {
  margin-right: 1.5rem;
}

.camera:last-child {
  margin-left: 1.5rem;
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

.instructions {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 500px) {
  .background1,
  .background2 {
    width: 500px;
  }

  .background3 {
    width: 300px;
  }

  .pretitle {
    font-size: 3rem;
  }

  .camera {
    height: 40px;
    width: 52px;
  }

  .title {
    font-size: 3.5rem;
  }

  .instructions {
    font-size: 1.375rem;
  }
}
