:root {
    --md-source: #BC623E;
    /* primary */
    --palette-primary0: #000000;
    --palette-primary10: #370d00;
    --palette-primary20: #5a1b00;
    --palette-primary25: #6c2302;
    --palette-primary30: #7b2e0c;
    --palette-primary35: #8b3a17;
    --palette-primary40: #9a4522;
    --palette-primary50: #b95d37;
    --palette-primary60: #d9754e;
    --palette-primary70: #f98f65;
    --palette-primary80: #ffb59a;
    --palette-primary90: #ffdbce;
    --palette-primary95: #ffede7;
    --palette-primary98: #fff8f6;
    --palette-primary99: #fffbff;
    --palette-primary100: #ffffff;
    /* secondary */
    --palette-secondary0: #000000;
    --palette-secondary10: #351000;
    --palette-secondary20: #561f00;
    --palette-secondary25: #682700;
    --palette-secondary30: #7a3002;
    --palette-secondary35: #893b0d;
    --palette-secondary40: #994719;
    --palette-secondary50: #b85e2f;
    --palette-secondary60: #d77746;
    --palette-secondary70: #f8905d;
    --palette-secondary80: #ffb693;
    --palette-secondary90: #ffdbcc;
    --palette-secondary95: #ffede6;
    --palette-secondary98: #fff8f6;
    --palette-secondary99: #fffbff;
    --palette-secondary100: #ffffff;
    /* tertiary */
    --palette-tertiary0: #000000;
    --palette-tertiary10: #351000;
    --palette-tertiary20: #561f00;
    --palette-tertiary25: #682700;
    --palette-tertiary30: #7a3002;
    --palette-tertiary35: #893b0d;
    --palette-tertiary40: #994719;
    --palette-tertiary50: #b85e2f;
    --palette-tertiary60: #d77746;
    --palette-tertiary70: #f8905d;
    --palette-tertiary80: #ffb693;
    --palette-tertiary90: #ffdbcc;
    --palette-tertiary95: #ffede6;
    --palette-tertiary98: #fff8f6;
    --palette-tertiary99: #fffbff;
    --palette-tertiary100: #ffffff;
    /* neutral */
    --palette-neutral0: #000000;
    --palette-neutral10: #251a00;
    --palette-neutral20: #3f2e00;
    --palette-neutral25: #4d3800;
    --palette-neutral30: #5b4300;
    --palette-neutral35: #694e00;
    --palette-neutral40: #785a00;
    --palette-neutral50: #977100;
    --palette-neutral60: #b68a0e;
    --palette-neutral70: #d3a42e;
    --palette-neutral80: #f1c048;
    --palette-neutral90: #ffdf9c;
    --palette-neutral95: #ffefd3;
    --palette-neutral98: #fff8f2;
    --palette-neutral99: #fffbff;
    --palette-neutral100: #ffffff;
    /* neutral-variant */
    --palette-neutral-variant0: #000000;
    --palette-neutral-variant10: #251914;
    --palette-neutral-variant20: #3b2d29;
    --palette-neutral-variant25: #473833;
    --palette-neutral-variant30: #53433e;
    --palette-neutral-variant35: #5f4f49;
    --palette-neutral-variant40: #6b5b55;
    --palette-neutral-variant50: #85736d;
    --palette-neutral-variant60: #a08d86;
    --palette-neutral-variant70: #bba7a0;
    --palette-neutral-variant80: #d8c2bb;
    --palette-neutral-variant90: #f5ded6;
    --palette-neutral-variant95: #ffede7;
    --palette-neutral-variant98: #fff8f6;
    --palette-neutral-variant99: #fffbff;
    --palette-neutral-variant100: #ffffff;
    /* error */
    --palette-error0: #000000;
    --palette-error10: #410002;
    --palette-error20: #690005;
    --palette-error25: #7e0007;
    --palette-error30: #93000a;
    --palette-error35: #a80710;
    --palette-error40: #ba1a1a;
    --palette-error50: #de3730;
    --palette-error60: #ff5449;
    --palette-error70: #ff897d;
    --palette-error80: #ffb4ab;
    --palette-error90: #ffdad6;
    --palette-error95: #ffedea;
    --palette-error98: #fff8f7;
    --palette-error99: #fffbff;
    --palette-error100: #ffffff;
    /* light */
    --color-primary: #9a4522;
    --color-on-primary: #ffffff;
    --color-primary-container: #ffdbce;
    --color-on-primary-container: #370d00;
    --color-secondary: #994719;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #ffdbcc;
    --color-on-secondary-container: #351000;
    --color-tertiary: #994719;
    --color-on-tertiary: #ffffff;
    --color-tertiary-container: #ffdbcc;
    --color-on-tertiary-container: #351000;
    --color-error: #ba1a1a;
    --color-error-container: #ffdad6;
    --color-on-error: #ffffff;
    --color-on-error-container: #410002;
    --color-background: #fffbff;
    --color-on-background: #251a00;
    --color-surface: #fffbff;
    --color-on-surface: #251a00;
    --color-surface-variant: #f5ded6;
    --color-on-surface-variant: #53433e;
    --color-outline: #85736d;
    --color-inverse-on-surface: #ffefd3;
    --color-inverse-surface: #3f2e00;
    --color-inverse-primary: #ffb59a;
    --color-shadow: #000000;
    --color-surface-tint: #9a4522;
    --color-outline-variant: #d8c2bb;
    --color-scrim: #000000;
  }
  