:root {
  --palette-black: rgb(0, 0, 0);
  --palette-transparent: rgba(0, 0, 0, 0);

  --color-primary: #d0947a;
  --color-on-primary: rgb(233, 233, 233);
  --color-primary-container: #ffdbce;
  --color-on-primary-container: #370d00;

  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #410002;

  --color-background: rgb(233, 233, 233);
  --color-on-background: rgb(33, 33, 33);

  --color-surface: rgb(233, 233, 233);
  --color-on-surface: rgb(33, 33, 33);
  --color-placeholder: rgb(33, 33, 33, 0.5);
  --color-popover: rgb(77, 77, 77);

  --color-inverse-surface: rgb(33, 33, 33);
  --color-inverse-on-surface: rgb(233, 233, 233);
  --color-inverse-placeholder: rgb(233, 233, 233, 0.5);
  --color-inverse-popover: rgb(77, 77, 77);

  --color-scrollbar: rgba(33, 33, 33, 0);
  --color-scrollbar-hover: rgba(33, 33, 33, 0.09);
  --color-scrollbar-thumb: rgba(33, 33, 33, 0.5);
  --color-scrollbar-thumb-active: rgba(33, 33, 33, 0.61);

  --color-inverse-scrollbar: rgba(233, 233, 233, 0);
  --color-inverse-scrollbar-hover: rgba(233, 233, 233, 0.09);
  --color-inverse-scrollbar-thumb: rgba(233, 233, 233, 0.5);
  --color-inverse-scrollbar-thumb-active: rgba(233, 233, 233, 0.61);
}

html {
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 87.5%;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  -ms-overflow-style: none;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
