:root {
  --palette-ash-gray: #acbda1;
  --palette-black: #000000;
  --palette-brown-sugar: #bc623e;
  --palette-champagne: #f7e7ce;
  --palette-pale-dogwood: #eac9bb;
  --palette-persian-orange: #d0947a;
  --palette-white: #ffffff;

  --color-primary: var(--palette-brown-sugar);
  --color-on-primary: #ffffff;
  --color-primary-container: #ffdbce;
  --color-on-primary-container: #370d00;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error: #ffffff;
  --color-on-error-container: #410002;
  --color-background: #fffbff;
  --color-on-background: #251a00;
  --color-surface: #fffbff;
  --color-on-surface: #251a00;
  --color-surface-variant: #f5ded6;
  --color-on-surface-variant: #53433e;
  --color-outline: #85736d;
  --color-inverse-on-surface: #ffefd3;
  --color-inverse-surface: #3f2e00;
  --color-inverse-primary: #ffb59a;
  --color-shadow: #000000;
  --color-surface-tint: #9a4522;
  --color-outline-variant: #d8c2bb;
  --color-scrim: #000000;
}

::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  font-size: 87.5%;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

body {
  background-color: var(--palette-black);
  color: var(--color-on-surface-variant);
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  overflow: hidden;
  position: relative;
  width: 100%;
}

a {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

button {
  align-items: center;
  background-color: var(--palette-persian-orange);
  border: 0;
  border-radius: 100rem;
  color: var(--color-on-primary);
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 1rem;
  transition: background-color 300ms ease-in-out;
}

button:hover {
  background-color: var(--color-primary);
  cursor: pointer;
}

button:disabled {
  background-color: var(--palette-persian-orange);
  cursor: not-allowed;
}

h1 {
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.33;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
}

h3 {
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 1.61;
}

h4 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.66;
}

hr {
  border: 0;
  border-top: 2px solid var(--color-surface-variant);
  margin: 0.5rem 1.5rem;
}

input, textarea {
  background-color: var(--color-surface);
  border: 2px solid var(--color-outline);
  border-radius: 0.5rem;
  color: var(--color-on-surface);
  font-size: 1rem;
  height: 50px;
  opacity: 1;
  outline: none;
  padding: 1rem;
  transition: border 300ms ease-in-out;
  width: 100%;
}

input:disabled, textarea:disabled {
  opacity: 1;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  border-color: var(--palette-persian-orange);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-outline);
  opacity: 1;
}

textarea {
  font-family: inherit;
  height: inherit;
  width: 100%;
}

ol,
ul {
  list-style-position: inside;
}
