.imageBackdrop {
  object-fit: cover;
}

.textOverlay {
  bottom: 14vh;
  color: var(--palette-white);
  left: 7vw;
  position: absolute;
  text-align: center;
}

.saveTheDate {
  font-size: 12vh;
}

.names {
  font-size: 6vh;
  letter-spacing: 0.5vw;
  margin-top: 1vh;
}

.date {
  font-size: 3vh;
  letter-spacing: 0.75vw;
  margin-top: 1vh;
}
