.saveTheDate {
  height: calc(100vh - 4rem);
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .saveTheDate {
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .section {
    flex: 1;
  }

  .section:not(:first-child) {
    background-color: var(--white);
    padding-right: 2rem;
  }
}
