.saveTheDate {
  min-height: calc(var(--vh) * 100 - 4rem);
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .saveTheDate {
    min-height: calc(var(--vh) * 100);
    position: sticky;
    top: 0;
  }

  .section {
    flex: 1;
  }

  .section:not(:first-child) {
    background-color: var(--white);
    padding-right: 2rem;
  }
}
