.content {
  height: 100%;
  overflow: auto;
  transform: translateY(0);
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  width: 100%;
  z-index: 2;
}

.contentOpen {
  overflow: hidden;
  transform: translateY(calc(-1 * max(30rem, 50vh) + 1px));
}

.menu {
  background-color: var(--persian-orange);
  height: max(30rem, 50vh);
  transform: translateY(0);
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  width: 100%;
  z-index: 1;
}

.menuOpen {
  transform: translateY(calc(-1 * max(30rem, 50vh)));
}

.toggleButton {
  display: flex;
  flex-direction: column;
  height: 1.125rem;
  justify-content: space-between;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  width: 1.5rem;
  z-index: 3;
}

.toggleButton span {
  background-color: var(--persian-orange);
  display: block;
  height: 0.125rem;
  width: 100%;
}

.toggleButton .toggleButtonLine1 {
  position: relative;
  top: 0;
  transform: rotate(0);
  transition: top 300ms ease-in-out, transform 300ms ease-in-out;
}

.toggleButton .toggleButtonLine2 {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.toggleButton .toggleButtonLine3 {
  bottom: 0;
  position: relative;
  transform: rotate(0);
  transition: bottom 300ms ease-in-out, transform 300ms ease-in-out;
}

.toggleButtonClose .toggleButtonLine1 {
  top: 0.5rem;
  transform: rotate(45deg);
}

.toggleButtonClose .toggleButtonLine2 {
  opacity: 0;
}

.toggleButtonClose .toggleButtonLine3 {
  bottom: 0.5rem;
  transform: rotate(-45deg);
}

@media (min-width: 1024px) {
  .toggleButton {
    right: 2rem;
    top: 2rem;
  }
}
