.content {
  height: 100%;
  overflow: auto;
  transform: translateY(0);
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  width: 100%;
  z-index: 21;
}

.contentOpen {
  overflow: hidden;
  transform: translateY(-100vh);
}

.menu {
  background-color: var(--persian-orange);
  height: 100vh;
  transform: translateY(0);
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  width: 100%;
  z-index: 20;
}

.menuOpen {
  transform: translateY(-100vh);
}

.toggleButton {
  display: flex;
  flex-direction: column;
  height: 1.125rem;
  justify-content: space-between;
  position: fixed;
  right: 1.5rem;
  top: 1.5rem;
  width: 1.5rem;
  z-index: 22;
}

.toggleButton span {
  background-color: var(--persian-orange);
  display: block;
  height: 0.125rem;
  width: 100%;
}

.toggleButton .toggleButtonLine1 {
  position: relative;
  top: 0;
  transform: rotate(0);
  transition: background-color 300ms ease-in-out, top 300ms ease-in-out, transform 300ms ease-in-out;
}

.toggleButton .toggleButtonLine2 {
  opacity: 1;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out;
}

.toggleButton .toggleButtonLine3 {
  bottom: 0;
  position: relative;
  transform: rotate(0);
  transition: background-color 300ms ease-in-out, bottom 300ms ease-in-out, transform 300ms ease-in-out;
}

.toggleButtonActive span {
  background-color: var(--white);
}

.toggleButtonActive .toggleButtonLine1 {
  top: 0.5rem;
  transform: rotate(45deg);
  transition: background-color 300ms ease-in-out 600ms, top 300ms ease-in-out, transform 300ms ease-in-out;
}

.toggleButtonActive .toggleButtonLine2 {
  opacity: 0;
  transition: background-color 300ms ease-in-out 600ms, opacity 300ms ease-in-out;
}

.toggleButtonActive .toggleButtonLine3 {
  bottom: 0.5rem;
  transform: rotate(-45deg);
  transition: background-color 300ms ease-in-out 600ms, bottom 300ms ease-in-out, transform 300ms ease-in-out;
}

@media (min-width: 1024px) {
  .toggleButton {
    right: 2rem;
    top: 2rem;
  }
}
