.body {
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  position: absolute;
  right: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.card:not(:first-child) {
  margin-top: 1rem;
}

.column {
  flex: 1;
  height: 100%;
}

.column:not(:first-child) {
  margin-left: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
}

.image {
  object-fit: cover;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.title {
  font-weight: 600;
}

@media (min-width: 768px) {
  .card:not(:first-child) {
    margin-top: 1.5rem;
  }

  .column:not(:first-child) {
    margin-left: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .card:not(:first-child) {
    margin-top: 2rem;
  }

  .column:not(:first-child) {
    margin-left: 2rem;
  }
}
