.task {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2rem;
}

.completed {
  color: var(--color-primary-scavenger);
}

.heart {
  margin-right: 1rem;
}

.content:hover {
  cursor: pointer;
}

.status {
  font-size: 1rem;
  white-space: nowrap;
}
