.task {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2rem;
  position: relative;
}

.task:hover {
  cursor: pointer;
}

.completedTask {
  text-decoration: line-through;
}

.heart {
  height: 33px;
  margin-right: 1rem;
  width: 32px;
}

.errorMessage {
  color: var(--color-error);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 1rem;
}

.taskName {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.submittedImage {
  border-radius: 0.5rem;
  max-height: 50vh;
  object-fit: contain;
}

.imageUploader {
  background-color: var(--color-inverse-hover-surface);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.imageUploader:hover {
  cursor: pointer;
}

.imageUploaderContent {
  align-items: center;
  border: 2px dashed var(--color-inverse-placeholder);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
  width: 100%;
}

.imageUploaderIcon {
  height: auto;
  margin-bottom: 0.75rem;
  width: 40%;
}

.deleteConfirmation {
  background-color: var(--color-error);
  border-radius: 0.5rem;
  color: var(--color-on-error);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.deleteConfirmationActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.permanentlyDeleteButton,
.permanentlyDeleteButton:disabled {
  background-color: var(--color-on-error);
  color: var(--color-error);
}

.permanentlyDeleteButtonLoading {
  margin-right: 0.5rem;
}
.permanentlyDeleteButtonLoading div,
.permanentlyDeleteButtonLoading div:after,
.permanentlyDeleteButtonLoading div:before {
  background-color: var(--color-error);
}

.cancelDeleteButton {
  background-color: var(--palette-transparent);
  box-shadow: inset 0 0 0 2px var(--color-on-error);
  color: var(--color-on-error);
}

.sheetActions {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.deleteButton,
.deleteButton:disabled {
  background-color: var(--color-error);
  color: var(--color-on-error);
  display: flex;
  flex-direction: row;
}

.deleteButtonLoading {
  margin-right: 0.5rem;
}

.spacer {
  flex: 1;
}

.permanentlyDeleteButton:disabled,
.deleteButton:disabled {
  cursor: wait;
  opacity: 0.8;
}

.permanentlyDeleteButton:hover,
.deleteButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
