.navigationBar {
  align-items: center;
  background-color: var(--color-surface);
  display: flex;
  left: 0;
  height: 80px;
  padding: 0 6vw;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.title {
  font-size: 2rem;
}

.spacer {
  flex: 1;
}

@media (min-width: 768px) {
  .title {
    font-size: 2.25rem;
  }
}
