.optionList {
  background: var(--color-popover);
  border-radius: 0.5rem;
  color: var(--color-on-popover);
  max-width: 768px;
  padding: 0.5rem;
  width: 100%;
  z-index: 3;
}

.optionItem {
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  transition: background-color 150ms ease-in-out;
}

.optionItem:focus,
.optionItem:hover {
  background-color: var(--color-hover-popover);
  cursor: pointer;
  outline: none;
}

.optionListInverse {
  background-color: var(--color-popover);
}

.optionItemInverse:focus,
.optionItemInverse:hover {
  background-color: var(--color-hover-popover);
}
