.landing {
  overflow-x: hidden;
  overflow-y: hidden !important;
  width: 100%;
}

.firstSection {
  min-height: calc(100vh - var(--navigation-bar-height));
  min-height: calc(100dvh - var(--navigation-bar-height));
  min-height: calc(100svh - var(--navigation-bar-height));
  width: 100%;
  will-change: padding-left, padding-right;
}

.coverImage {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  will-change: border-radius, height;
}

.coverImage img {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  object-fit: cover;
  object-position: center bottom;
  pointer-events: none;
  user-select: none;
}

.eventInfo {
  bottom: 65%;
  color: var(--color-inverse-on-surface);
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  white-space: nowrap;
}

.saveTheDate {
  font-size: 3.5rem;
  line-height: 1.5;
}

.brideAndGroom {
  font-size: 1.75rem;
  letter-spacing: 0.25rem;
  margin-top: 0.5rem;
}

.eventDate {
  font-size: 1rem;
  letter-spacing: 0.25rem;
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .saveTheDate {
    font-size: 4.5rem;
  }

  .brideAndGroom {
    font-size: 2.25rem;
    letter-spacing: 0.375rem;
    margin-top: 0.675rem;
  }

  .eventDate {
    font-size: 1.25rem;
    letter-spacing: 0.375rem;
    margin-top: 0.675rem;
  }
}

@media (min-width: 1024px) {
  .saveTheDate {
    font-size: 6rem;
  }

  .brideAndGroom {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin-top: 0.875rem;
  }

  .eventDate {
    font-size: 1.675rem;
    letter-spacing: 0.5rem;
    margin-top: 0.875rem;
  }
}

@media (min-aspect-ratio: 3/4) {
  .eventInfo {
    bottom: var(--page-side-spacing);
    left: var(--page-side-spacing);
    top: auto;
    transform: none;
  }

  @media (min-width: 768px) {
    .saveTheDate {
      font-size: 3.5rem;
    }

    .brideAndGroom {
      font-size: 1.75rem;
      letter-spacing: 0.25rem;
      margin-top: 0.5rem;
    }

    .eventDate {
      font-size: 1rem;
      letter-spacing: 0.25rem;
      margin-top: 0.5rem;
    }
  }

  @media (min-width: 1024px) {
    .saveTheDate {
      font-size: 4.5rem;
    }

    .brideAndGroom {
      font-size: 2.25rem;
      letter-spacing: 0.375rem;
      margin-top: 0.675rem;
    }

    .eventDate {
      font-size: 1.25rem;
      letter-spacing: 0.375rem;
      margin-top: 0.675rem;
    }
  }
}

.secondSection {
  margin-bottom: var(--page-side-spacing);
  overflow: hidden;
  padding: var(--page-side-spacing);
  position: relative;
  width: 100%;
}

.backgroundStroke {
  display: none;
  height: 100%;
  left: -12rem;
  position: absolute;
  top: 2rem;
  z-index: -1;
}

.backgroundStroke path {
  stroke: var(--color-on-background);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
  will-change: stroke-dashoffset;
}

@media (min-width: 1024px) {
  .backgroundStroke {
    display: block;
  }

  .coupleQuestionAnswerSection {
    margin-left: 14rem;
  }
}

.coupleQuestionAnswerTitle {
  font-size: 1.75rem;
  font-weight: 600;
}

.coupleQuestion {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: var(--page-side-spacing);
}

.coupleAnswer {
  font-size: 1rem;
  margin-top: calc(var(--page-side-spacing) / 2);
}

@media (min-width: 768px) {
  .coupleQuestionAnswerTitle {
    font-size: 2rem;
  }

  .coupleQuestion {
    font-size: 1.5rem;
  }

  .coupleAnswer {
    font-size: 1.25rem;
  }
}

.coupleAnswer a {
  color: inherit;
  font-weight: 600;
  text-decoration: underline;
}

.coupleAnswer a:hover {
  cursor: pointer;
}

.thirdSection {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.engagementPhotoSet {
  display: flex;
  flex-direction: row;
  padding: 0 var(--page-side-spacing);
  will-change: transform;
}

.engagementPhoto {
  height: 65vh;
  max-width: calc(100vw - (2 * var(--page-side-spacing)));
  width: 45vh;
  will-change: transform;
}

@media (min-width: 768px) {
  .engagementPhoto {
    max-width: none;
  }
}

.engagementPhotoZoom {
  border-radius: 1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: transform 300ms ease-in-out;
  width: 100%;
}

.engagementPhotoZoom:hover {
  transform: scale(1.05);
}

@media (hover: none) {
  .engagementPhotoZoom:hover {
    transform: none;
  }
}

.engagementPhoto img {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.engagementPhoto:not(:first-child) {
  margin-left: var(--page-side-spacing);
}
