.guestList {
  overflow-x: auto;
  padding: 6vw;
  padding-top: 0;
  width: 100%;
}

.guestTable {
  border-radius: 0.5rem;
  border-collapse: separate;
  border-spacing: 0;
  color: var(--color-inverse-on-surface);
  overflow: hidden;
  width: 100%;
}

.guestTable tr {
  background-color: var(--color-inverse-surface);
}

.guestTable thead tr:hover {
  opacity: 1;
}

.guestTable th,
.guestTable td {
  padding: 1rem 1.5rem;
  text-align: left;
  white-space: nowrap;
}

.guestGroupHeader {
  transition: opacity 300ms ease-in-out;
}

.guestGroupHeader {
  opacity: 0.9;
}

.guestGroupHeader:hover {
  cursor: pointer;
  opacity: 0.8;
}

.guestGroupHeaderText {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.guestGroupIcon {
  margin-right: 1rem;
}

.guestGroupExpandIcon {
  transition: transform 300ms ease-in-out;
}

.guestGroupHeaderCollapsed .guestGroupExpandIcon {
  transform: rotate(180deg);
}

.guestGroupGuests td {
  padding: 0;
}

.guestGroupGuests td > div {
  max-height: 56px;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
}

.guestGroupGuestsCollapsed td > div {
  max-height: 0;
}

.guestGroupGuestsCell {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 1rem 1.5rem;
}

.guestGroupGuestsCell svg {
  margin-left: 1rem;
}

.guestIdCopyIcon,
.guestGroupIdCopyIcon {
  transition: opacity 300ms ease-in-out;
}

.guestIdCopyIcon:hover,
.guestGroupIdCopyIcon:hover {
  cursor: pointer;
  opacity: 0.8;
}

.guestGroupIdCopyIcon,
.guestGroupIdCopiedIcon {
  margin-left: 1rem;
}

.spacer {
  flex: 1;
}
