.guestList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: var(--page-side-spacing);
  padding-left: var(--page-side-spacing);
  width: 100%;
}

.guestList::after {
  content: '';
  display: block;
  min-height: 100%;
  min-width: var(--page-side-spacing);
}

.guestTable {
  background-color: var(--color-inverse-surface);
  border-radius: 0.5rem;
  border-collapse: separate;
  border-spacing: 0;
  color: var(--color-inverse-on-surface);
  overflow: hidden;
  width: 100%;
}

.guestTable tr {
  transition: background-color 300ms ease-in-out;
}

.guestTable tr:hover {
  background-color: var(--color-inverse-hover-surface);
}

.guestTable thead tr:hover,
.guestTable .guestGroupRow:hover {
  background-color: var(--palette-transparent);
}

.guestGroupCell {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.guestGroupCell span {
  margin-left: 1rem;
}

.separatorLine {
  background-color: var(--color-inverse-hover-surface);
  border-radius: 3px;
  flex: 1;
  height: 3px;
  margin-left: 1rem;
}

.guestTable th,
.guestTable td {
  padding: 1rem 1.5rem;
  text-align: left;
  white-space: nowrap;
}

.viewRSVPCell {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.iconButton {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: opacity 300ms ease-in-out;
}

.iconButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
